.daily-forecast {
  width: 600px;
  height: 300px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100%;
  color: #ffffff;
}

.daily-forecast svg {
  height: auto;
  fill: #ffffff;
}

.daily-forecast .left {
  display: grid;
  grid-template-rows: 50% 50%;
}

.daily-forecast .temperature {
  text-align: center;
}

.daily-forecast .temperature .current {
  font-size: clamp(3rem, 8vw, 4rem);
  font-weight: bold;
  line-height: 4rem;
  padding-top: 1rem;
}
.daily-forecast .temperature .feels-like {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

.daily-forecast .temperature svg {
  width: 50%;
}

.daily-forecast .daylight {
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 0.5rem;
}

.daily-forecast .sunrise,
.daily-forecast .sunset {
  display: flex;
  align-items: center;
  justify-content: center;
}

.daily-forecast .sunrise svg,
.daily-forecast .sunset svg {
  height: 100%;
}

.daily-forecast .conditions {
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  place-items: center;
  gap: 0.5rem;
}

.daily-forecast .conditions > * {
  height: 100%;
  display: grid;
  grid-template-rows: 50% auto auto;
  place-items: center;
}

.mid {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
}

.daily-forecast .mid svg {
  width: 100%;
}
