<div class="daily-forecast">
  <div class="left">
    <div class="temperature">
      <p class="current"></p>
      <p class="feels-like"></p>
    </div>
    <div class="daylight">
      <div class="sunrise">
        <svg></svg>
        <div class="text">
          <p>Sunrise</p>
          <p class="value"></p>
        </div>
      </div>
      <div class="sunset">
        <svg></svg>
        <div class="text">
          <p>Sunset</p>
          <p class="value"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="mid">
    <div class="icon">
      <img />
      <p class="description"></p>
    </div>
  </div>
  <div class="right">
    <div class="conditions">
      <div class="humidity">
        <svg></svg>
        <p class="value"></p>
        <p>Humidity</p>
      </div>
      <div class="wind">
        <svg></svg>
        <p class="value"></p>
        <p>Wind speed</p>
      </div>
      <div class="pressure">
        <svg></svg>
        <p class="value"></p>
        <p>Pressure</p>
      </div>
      <div class="uv">
        <svg></svg>
        <p class="value"></p>
        <p>UV</p>
      </div>
    </div>
  </div>
</div>
